@layer base{
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: #ececf1;
    font-family: Arial, sans-serif;
  }
}

.container {
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 0%;
}
